*{
    margin: 0;
    padding: 0;
}
nav ul{
   list-style-type: none;
   width: 30%;
   position: fixed;
   height: 100%;
}
nav ul li{
    text-align: center;
    line-height: 50px;
    width: 90px;
    position: relative;
    background-color: #40e0d0;
}
nav ul li ul{
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
}
nav ul li ul li{
    border-radius: 0 0 0px 50px;

}
nav>ul>li>a{
    text-decoration: none;
    color: #ff6347;
    padding: 7px;
    font-size: x-large;
}
nav>ul>li>ul>li>a{
    text-decoration: none;
    color: red;
    padding: 4px;
    font-size: large;
}

nav a:hover{
    background-color: #c8e8f5;
    color: #d109d1;
    border-radius: 0 20px 0 7px;
}
nav ul li:hover>ul{
    display: block;
}
